@model CMCS.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>
    <button type="submit">Login</button>
</form>

<div>
    @Html.ActionLink("Register", "Register", "Account")
</div>
